div(
  ng-if="!data.isLoading",
  ng-class="{'is-busy': data.isBusy}"
)
  span {{ ::$getDisplayText() }}
  span(ng-if="data.isBusy")  - #{__('Not available')}
div.esn-spinner(
  ng-if="data.isLoading",
  openpaas-logo-spinner,
  spinner-start-active='1',
  spinner-size='0.15'
) {{ ::$getDisplayText() }}
