.modal.full-screen(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", ng-click="$hide()") &times;
        h4.modal-title #{__('Add shared calendars')}
      .modal-body
        .cal-calendar-shared-configuration
          .user-search.form-group
            .autocomplete
              cal-entities-autocomplete-input(mutable-entities='$ctrl.users', on-entity-added='$ctrl.onUserAdded', on-entity-removed='$ctrl.onUserRemoved', add-from-autocomplete-only='true')

          .calendar-list
            .empty(ng-if='!$ctrl.calendarsPerUser.length')
              span #{__('Search users to add their shared calendars')}

            .header(ng-if='$ctrl.calendarsPerUser.length')
              .name
                span #{__('Name')}
              .rights
                span #{__('Rights')}
              .actions
                span #{__('Add')}
            cal-calendar-shared-configuration-item(item="item", user="$ctrl.sessionUser", ng-repeat="item in $ctrl.calendarsPerUser")
      .modal-footer
        button.btn.btn-default(type="button", ng-click="$hide()") #{__('Cancel')}
        button.btn.btn-primary(type='button', ng-disabled='!$ctrl.getSelectedCalendars($ctrl.calendarsPerUser).length', ng-click='$ctrl.addSharedCalendars(); $hide()') #{__('Save')}

