.listview.calendars-list
  cal-user-calendars-list(
    user-calendars="$ctrl.userCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    hidden-calendars="$ctrl.hiddenCalendars"
  )

  cal-external-calendars-list(
    shared-calendars="$ctrl.sharedCalendars",
    public-calendars="$ctrl.publicCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    hidden-calendars="$ctrl.hiddenCalendars"
  )