.cal-attendee-list
  .cal-attendee-list-body
    cal-attendee-item(
      attendee='ctrl.organizerAttendee',
      can-modify-attendee='::ctrl.canModifyAttendees',
      is-organizer='true'
    )
    cal-attendee-item(
      attendee='attendee',
      can-modify-attendee='::ctrl.canModifyAttendees',
      is-organizer='false',
      remove="ctrl.removeAttendee(attendee)",
      ng-repeat="attendee in ctrl.attendeesToDisplay track by attendee.email"
    )
