.modal.calendar-modal-instance-or-series(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss="modal", aria-label="Close", ng-click="$hide()")
          span(aria-hidden="true") &times;
        h4.modal-title #{__('Delete recurrent events')}
      .modal-body
        p.text-center #{__('Would you like to delete only this event or all events in the series?')}
        .actions-buttons
          button.btn.btn-primary.save.save-button.effect(ng-click='applyOnInstance()')
            | #{__('Only this event')}
          button.btn.btn-primary.save.save-button.effect(ng-click='applyOnAllInstances()')
            | #{__('All events in the series')}
      .modal-footer.flex
        .flex-vertical-centered.flex-end
          button.btn.btn-link.color-default.close-button.cancel(ng-click='$hide()')
            | #{__('Cancel')}
