.cal-event-date-edition
  .col-xs-12
    .form-group
      .input-group
        span.input-group-addon
          i.mdi.mdi-clock
        .col-xs-12.col-md-4
          esn-date-picker(ng-model='ctrl.start', ng-change="ctrl.onStartDateChange()", placeholder=__('Start date'),
            ng-disabled="ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", size="10", date-format="{{::ctrl.dateFormat}}")
          esn-clock-picker(ng-if='!ctrl.full24HoursDay', ng-model='ctrl.start', ng-change="ctrl.onStartDateTimeChange()", placeholder=__('Time'),
            ng-disabled="ctrl.full24HoursDay || ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", size="10", options="{twelvehour: !ctrl.use24hourFormat}")
        .col-xs-12.col-md-4
          esn-date-picker(ng-model='ctrl.end', ng-change="ctrl.onEndDateChange()", placeholder=__('End date'),
            ng-disabled="ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", size="10", date-format="{{::ctrl.dateFormat}}",
            isAllDay="ctrl.full24HoursDay", minDate="{{ctrl.getMinEndDate()}}")
          esn-clock-picker(ng-if='!ctrl.full24HoursDay', ng-model='ctrl.end', ng-change="ctrl.onEndDateTimeChange()", placeholder=__('Time'),
            ng-disabled="ctrl.full24HoursDay || ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", size="10", options="{twelvehour: !ctrl.use24hourFormat}")
        .col-xs-12.col-md-4.hidden-xs
          .form-group.text-center
            .fg-line.nopadding
              .checkbox.allday
                label
                  input(type="checkbox", ng-model='ctrl.full24HoursDay', ng-disabled="ctrl.disabled", ng-change="ctrl.allDayOnChange();")
                  i.input-helper
                  span #{__('All day')}
        .col-xs-12.col-md-4.visible-xs
          .form-group.nopadding
            .fg-line
              .checkbox.allday
                label
                  input(type="checkbox", ng-model='ctrl.full24HoursDay', ng-disabled="ctrl.disabled", ng-change="ctrl.allDayOnChange();")
                  i.input-helper
                  span #{__('All day')}

