sub-header
  cal-settings-display-subheader(submit="ctrl.submit()", form="form")

form(name="form")
  .cal-settings-display-block
    p
      span #{__('Working days')}
    p.cal-setting-switch
      span.working-days-disabled(ng-class="{'toggle-active': !ctrl.configurations.workingDays}")
        | #{__('Hide')}
      toggle-switch(ng-model='ctrl.configurations.workingDays', color='blue', form="form")
      span.working-days-enabled(ng-class="{'toggle-active': ctrl.configurations.workingDays}")
        | #{__('Show')}
    p
      span #{__('Declined events')}
    p.cal-setting-switch
      span.working-days-disabled(ng-class="{'toggle-active': !ctrl.configurations.hideDeclinedEvents}")
        | #{__('Hide')}
      toggle-switch(ng-model='ctrl.configurations.hideDeclinedEvents', color='blue', form="form")
      span.working-days-enabled(ng-class="{'toggle-active': ctrl.configurations.hideDeclinedEvents}")
        | #{__('Show')}
